In [61]:
import requests
import yfinance as yf
import pandas as pd
import time
import tqdm
from pandas_datareader import data as pdr
import os
import warnings
warnings.filterwarnings('ignore')

In [63]:
yf.pdr_override()

In [2]:
url = 'https://www.slickcharts.com/sp500/'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

dfs = pd.read_html(r.text)

In [6]:
len(dfs)

2

In [7]:
dfs[0]

,#,Company,Symbol,Portfolio%,Price,Chg,% Chg
0,1,Microsoft Corp,MSFT,7.00%,415.85,0.72,(0.17%)
1,2,Apple Inc.,AAPL,6.31%,192.88,0.63,(0.33%)
2,3,Nvidia Corp,NVDA,6.20%,1116.48,20.15,(1.84%)
3,4,Amazon.com Inc,AMZN,3.72%,177.06,0.62,(0.35%)
4,5,"Meta Platforms, Inc. Class A",META,2.33%,468.52,1.69,(0.36%)
...,...,...,...,...,...,...,...
498,499,"Mohawk Industries, Inc.",MHK,0.01%,NaN,0.00,(NaN%)
499,500,"Bio-Rad Laboratories, Inc.Class A",BIO,0.01%,284.49,-2.37,(-0.83%)
500,501,Paramount Global Class B,PARA,0.01%,12.75,0.83,(7.01%)
501,502,Fox Corporation Class B,FOX,0.01%,NaN,0.00,(NaN%)
502,503,News Corporation Class B,NWS,0.01%,NaN,0.00,(NaN%)

In [9]:
def get_book_value(dfs):
    empty_ticks = {'No data':[],'No equity':[]}
    output_dfs = []

    for symbol in tqdm.tqdm(dfs[0]['Symbol'].values):
        ticker = yf.Ticker(symbol)
        bal = ticker.quarterly_balance_sheet

        if len(bal.index) == 0:
            empty_ticks['No data'].append(symbol)
        else:    
            bal.columns = [str(col.year) + '-' + str(col.quarter) for col in bal.columns]
            equity = bal[bal.index.isin(['Common Stock','Total Stockholder Equity','Equity'])]
            if len(equity.index) == 0:
                empty_ticks['No equity'].append(symbol)
            else:
                equity['Ticker'] = symbol
                output_dfs.append(equity)
                time.sleep(3)
    return outpout_dfs, empty_ticks

In [10]:
outpout_dfs, empty_ticks = get_book_value(dfs)

  4%|███▊                                                                                           | 20/503 [01:05<26:18,  3.27s/it]

KeyboardInterrupt:

In [13]:
symbol = 'GOOG'
ticker = yf.Ticker(symbol)
bal = ticker.quarterly_balance_sheet

In [17]:
bal

,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31,2022-09-30
Treasury Shares Number,NaN,0.0,NaN,NaN,NaN,NaN,NaN
Ordinary Shares Number,12381000000.0,12460000000.0,12541000000.0,12629000000.0,12722000000.0,NaN,NaN
Share Issued,12381000000.0,12460000000.0,12541000000.0,12629000000.0,12722000000.0,NaN,NaN
Total Debt,28059000000.0,28504000000.0,29046000000.0,29114000000.0,29121000000.0,NaN,NaN
Tangible Book Value,263661000000.0,254181000000.0,242223000000.0,235965000000.0,229932000000.0,NaN,NaN
...,...,...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,108090000000.0,110916000000.0,119935000000.0,118332000000.0,115102000000.0,NaN,NaN
Other Short Term Investments,83597000000.0,86868000000.0,89233000000.0,92403000000.0,89178000000.0,NaN,NaN
Cash And Cash Equivalents,24493000000.0,24048000000.0,30702000000.0,25929000000.0,25924000000.0,NaN,NaN
Cash Equivalents,12664000000.0,NaN,21408000000.0,17368000000.0,16233000000.0,NaN,NaN
Cash Financial,11829000000.0,NaN,9294000000.0,8561000000.0,9691000000.0,NaN,NaN

In [48]:
aapl = yf.Ticker("GOOG")

In [49]:
bal = aapl.quarterly_balance_sheet

In [50]:
bal[bal.index.isin(['Common Stock', 'Total Stockholder Equity', 'Equity'])]

,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31,2022-09-30
Common Stock,77913000000.0,76534000000.0,74591000000.0,72248000000.0,70269000000.0,NaN,NaN

In [51]:
bal.loc['Common Stock Equity']

2024-03-31    292844000000.0
2023-12-31    283379000000.0
2023-09-30    273202000000.0
2023-06-30    267141000000.0
2023-03-31    260894000000.0
2022-12-31               NaN
2022-09-30               NaN
Name: Common Stock Equity, dtype: object

In [52]:
bal.loc['Common Stock']

2024-03-31    77913000000.0
2023-12-31    76534000000.0
2023-09-30    74591000000.0
2023-06-30    72248000000.0
2023-03-31    70269000000.0
2022-12-31              NaN
2022-09-30              NaN
Name: Common Stock, dtype: object

In [54]:
bal.loc['Total Capitalization']

2024-03-31    304717000000.0
2023-12-31    295249000000.0
2023-09-30    285069000000.0
2023-06-30    279005000000.0
2023-03-31    272755000000.0
2022-12-31               NaN
2022-09-30               NaN
Name: Total Capitalization, dtype: object

In [71]:
bal.index

Index(['Treasury Shares Number', 'Ordinary Shares Number', 'Share Issued',
       'Total Debt', 'Tangible Book Value', 'Invested Capital',
       'Working Capital', 'Net Tangible Assets', 'Capital Lease Obligations',
       'Common Stock Equity', 'Total Capitalization',
       'Total Equity Gross Minority Interest', 'Stockholders Equity',
       'Gains Losses Not Affecting Retained Earnings',
       'Other Equity Adjustments', 'Retained Earnings', 'Capital Stock',
       'Common Stock', 'Preferred Stock',
       'Total Liabilities Net Minority Interest',
       'Total Non Current Liabilities Net Minority Interest',
       'Other Non Current Liabilities', 'Tradeand Other Payables Non Current',
       'Non Current Deferred Liabilities', 'Non Current Deferred Revenue',
       'Non Current Deferred Taxes Liabilities',
       'Long Term Debt And Capital Lease Obligation',
       'Long Term Capital Lease Obligation', 'Long Term Debt',
       'Current Liabilities', 'Other Current Liabilities',
       'Current Deferred Liabilities', 'Current Deferred Revenue',
       'Current Debt And Capital Lease Obligation',
       'Current Capital Lease Obligation',
       'Pensionand Other Post Retirement Benefit Plans Current',
       'Payables And Accrued Expenses', 'Current Accrued Expenses', 'Payables',
       'Total Tax Payable', 'Income Tax Payable', 'Accounts Payable',
       'Total Assets', 'Total Non Current Assets', 'Other Non Current Assets',
       'Non Current Deferred Assets', 'Non Current Deferred Taxes Assets',
       'Investments And Advances', 'Investmentin Financial Assets',
       'Available For Sale Securities', 'Goodwill And Other Intangible Assets',
       'Other Intangible Assets', 'Goodwill', 'Net PPE',
       'Accumulated Depreciation', 'Gross PPE', 'Leases',
       'Construction In Progress', 'Other Properties',
       'Machinery Furniture Equipment', 'Land And Improvements', 'Properties',
       'Current Assets', 'Other Current Assets', 'Inventory', 'Receivables',
       'Taxes Receivable', 'Accounts Receivable',
       'Allowance For Doubtful Accounts Receivable',
       'Gross Accounts Receivable',
       'Cash Cash Equivalents And Short Term Investments',
       'Other Short Term Investments', 'Cash And Cash Equivalents',
       'Cash Equivalents', 'Cash Financial'],
      dtype='object')

In [53]:
bal.index

Index(['Treasury Shares Number', 'Ordinary Shares Number', 'Share Issued',
       'Total Debt', 'Tangible Book Value', 'Invested Capital',
       'Working Capital', 'Net Tangible Assets', 'Capital Lease Obligations',
       'Common Stock Equity', 'Total Capitalization',
       'Total Equity Gross Minority Interest', 'Stockholders Equity',
       'Gains Losses Not Affecting Retained Earnings',
       'Other Equity Adjustments', 'Retained Earnings', 'Capital Stock',
       'Common Stock', 'Preferred Stock',
       'Total Liabilities Net Minority Interest',
       'Total Non Current Liabilities Net Minority Interest',
       'Other Non Current Liabilities', 'Tradeand Other Payables Non Current',
       'Non Current Deferred Liabilities', 'Non Current Deferred Revenue',
       'Non Current Deferred Taxes Liabilities',
       'Long Term Debt And Capital Lease Obligation',
       'Long Term Capital Lease Obligation', 'Long Term Debt',
       'Current Liabilities', 'Other Current Liabilities',
       'Current Deferred Liabilities', 'Current Deferred Revenue',
       'Current Debt And Capital Lease Obligation',
       'Current Capital Lease Obligation',
       'Pensionand Other Post Retirement Benefit Plans Current',
       'Payables And Accrued Expenses', 'Current Accrued Expenses', 'Payables',
       'Total Tax Payable', 'Income Tax Payable', 'Accounts Payable',
       'Total Assets', 'Total Non Current Assets', 'Other Non Current Assets',
       'Non Current Deferred Assets', 'Non Current Deferred Taxes Assets',
       'Investments And Advances', 'Investmentin Financial Assets',
       'Available For Sale Securities', 'Goodwill And Other Intangible Assets',
       'Other Intangible Assets', 'Goodwill', 'Net PPE',
       'Accumulated Depreciation', 'Gross PPE', 'Leases',
       'Construction In Progress', 'Other Properties',
       'Machinery Furniture Equipment', 'Land And Improvements', 'Properties',
       'Current Assets', 'Other Current Assets', 'Inventory', 'Receivables',
       'Taxes Receivable', 'Accounts Receivable',
       'Allowance For Doubtful Accounts Receivable',
       'Gross Accounts Receivable',
       'Cash Cash Equivalents And Short Term Investments',
       'Other Short Term Investments', 'Cash And Cash Equivalents',
       'Cash Equivalents', 'Cash Financial'],
      dtype='object')

In [66]:
data = pdr.get_data_yahoo("SPY")

[*********************100%%**********************]  1 of 1 completed

In [57]:
tickers = dfs[0]['Symbol'].values

In [58]:
tickers

array(['MSFT', 'AAPL', 'NVDA', 'AMZN', 'META', 'GOOGL', 'GOOG', 'BRK.B',
       'LLY', 'AVGO', 'JPM', 'XOM', 'TSLA', 'UNH', 'V', 'PG', 'MA',
       'COST', 'JNJ', 'HD', 'MRK', 'NFLX', 'WMT', 'ABBV', 'CVX', 'AMD',
       'BAC', 'KO', 'PEP', 'QCOM', 'TMO', 'WFC', 'CRM', 'LIN', 'ADBE',
       'CSCO', 'ORCL', 'DIS', 'MCD', 'AMAT', 'ACN', 'GE', 'TXN', 'ABT',
       'CAT', 'VZ', 'DHR', 'AMGN', 'NEE', 'PFE', 'INTU', 'PM', 'CMCSA',
       'IBM', 'GS', 'ISRG', 'RTX', 'MU', 'UNP', 'AXP', 'SPGI', 'COP',
       'ETN', 'HON', 'NOW', 'UBER', 'BKNG', 'INTC', 'T', 'LRCX', 'LOW',
       'MS', 'PGR', 'ELV', 'C', 'TJX', 'SYK', 'VRTX', 'ADI', 'NKE', 'BSX',
       'CB', 'MDT', 'SCHW', 'BLK', 'KLAC', 'REGN', 'MMC', 'PLD', 'LMT',
       'BA', 'ADP', 'UPS', 'CI', 'DE', 'PANW', 'MDLZ', 'SBUX', 'AMT',
       'TMUS', 'FI', 'BX', 'SNPS', 'CMG', 'SO', 'BMY', 'MO', 'GILD',
       'APH', 'CDNS', 'DUK', 'ZTS', 'ANET', 'ICE', 'WM', 'FCX', 'CL',
       'TT', 'CME', 'MCK', 'TDG', 'CEG', 'EQIX', 'EOG', 'SHW', 'CVS',
       'NXPI', 'TGT', 'PH', 'PYPL', 'GD', 'HCA', 'BDX', 'CSX', 'SLB',
       'ITW', 'MPC', 'ABNB', 'EMR', 'NOC', 'MCO', 'USB', 'PNC', 'MSI',
       'PSX', 'ECL', 'APD', 'CTAS', 'FDX', 'ORLY', 'WELL', 'MAR', 'ROP',
       'AON', 'PCAR', 'AIG', 'MMM', 'AJG', 'EW', 'CARR', 'MCHP', 'COF',
       'VLO', 'MRNA', 'GM', 'NSC', 'HLT', 'WMB', 'TFC', 'JCI', 'TRV',
       'SPG', 'NEM', 'AZO', 'GEV', 'ROST', 'SRE', 'OKE', 'DLR', 'AEP',
       'AFL', 'TEL', 'F', 'CPRT', 'DXCM', 'BK', 'URI', 'D', 'FIS', 'KMB',
       'MET', 'DHI', 'CCI', 'AMP', 'O', 'ALL', 'PRU', 'ADSK', 'HUM',
       'PSA', 'SMCI', 'IDXX', 'HES', 'LHX', 'NUE', 'IQV', 'PWR', 'OXY',
       'GWW', 'STZ', 'DOW', 'OTIS', 'PCG', 'CTVA', 'LEN', 'MSCI', 'AME',
       'A', 'PAYX', 'CMI', 'GIS', 'YUM', 'MNST', 'ACGL', 'IR', 'RSG',
       'FAST', 'FTNT', 'CNC', 'PEG', 'KMI', 'COR', 'EXC', 'KVUE', 'VRSK',
       'SYY', 'MPWR', 'VST', 'FANG', 'KDP', 'MLM', 'DD', 'LULU', 'RCL',
       'KR', 'VMC', 'XYL', 'GEHC', 'HPQ', 'HWM', 'BKR', 'CTSH', 'IT',
       'DAL', 'CSGP', 'FICO', 'HAL', 'EA', 'ADM', 'ED', 'BIIB', 'ON',
       'ODFL', 'RMD', 'DVN', 'HIG', 'TSCO', 'PPG', 'WAB', 'DFS', 'EXR',
       'MTD', 'CDW', 'XEL', 'FSLR', 'ROK', 'VICI', 'HSY', 'EIX', 'EFX',
       'EL', 'DG', 'GLW', 'ANSS', 'DECK', 'KHC', 'EBAY', 'CHTR', 'AVB',
       'GPN', 'TRGP', 'WTW', 'FTV', 'CBRE', 'TROW', 'CHD', 'DOV', 'TTWO',
       'FITB', 'WEC', 'GRMN', 'LYB', 'PHM', 'MTB', 'AWK', 'IFF', 'WST',
       'WDC', 'NTAP', 'KEYS', 'DLTR', 'CAH', 'ZBH', 'HPE', 'NVR', 'DTE',
       'IRM', 'BR', 'RJF', 'APTV', 'ETR', 'NDAQ', 'STT', 'STE', 'EQR',
       'VLTO', 'TER', 'WY', 'BALL', 'PPL', 'CTRA', 'HUBB', 'SBAC', 'BRO',
       'PTC', 'STLD', 'FE', 'ES', 'TYL', 'AXON', 'LDOS', 'BLDR', 'GPC',
       'VTR', 'INVH', 'HBAN', 'CPAY', 'NRG', 'ULTA', 'CNP', 'AEE', 'TDY',
       'CBOE', 'ALGN', 'CINF', 'WAT', 'ARE', 'STX', 'AVY', 'OMC', 'CMS',
       'WBD', 'COO', 'ENPH', 'PFG', 'DRI', 'MOH', 'MKC', 'DPZ', 'SYF',
       'RF', 'EXPD', 'J', 'NTRS', 'HOLX', 'EQT', 'TXT', 'UAL', 'BAX',
       'EG', 'ATO', 'MRO', 'ESS', 'LH', 'PKG', 'LVS', 'ZBRA', 'WRB',
       'TSN', 'CFG', 'CLX', 'ILMN', 'BBY', 'K', 'LUV', 'DGX', 'IEX', 'IP',
       'FDS', 'CCL', 'BG', 'JBL', 'CE', 'MAA', 'VRSN', 'MAS', 'CF', 'AES',
       'ALB', 'EXPE', 'SWKS', 'AMCR', 'SNA', 'CAG', 'GEN', 'TRMB', 'L',
       'WRK', 'POOL', 'DOC', 'AKAM', 'RVTY', 'LYV', 'SWK', 'KEY', 'PNR',
       'ROL', 'JBHT', 'LNT', 'VTRS', 'HST', 'KIM', 'NDSN', 'LW', 'PODD',
       'EVRG', 'TECH', 'EMN', 'IPG', 'JKHY', 'BBWI', 'UDR', 'UHS', 'NI',
       'LKQ', 'JNPR', 'SJM', 'WBA', 'KMX', 'CPT', 'CRL', 'INCY', 'ALLE',
       'MGM', 'NWSA', 'EPAM', 'AOS', 'HII', 'FFIV', 'CHRW', 'REG', 'TAP',
       'MOS', 'TFX', 'TPR', 'CTLT', 'QRVO', 'GNRC', 'APA', 'HSIC', 'AIZ',
       'HRL', 'WYNN', 'PNW', 'CPB', 'FOXA', 'BWA', 'BXP', 'MTCH', 'SOLV',
       'BF.B', 'DVA', 'PAYC', 'DAY', 'HAS', 'FMC', 'AAL', 'MKTX', 'RL',
       'ETSY', 'FRT', 'GL', 'IVZ', 'NCLH', 'RHI', 'CZR', 'CMA', 'BEN',
       'MHK', 'BIO', 'PARA', 'FOX', 'NWS'], dtype=object)