# Bayes' Theorem

## Conditional Probability

Conditional probability is a measure of the probability of an event occurring given that another event has already occurred. It is denoted by $P(A | B)$, where $A$ and $B$ are events.

<center><img src="vain.png"/></center>
$$P(A\vert B) = \frac{P(A \cap B)}{P(B)}$$

- $A$ given $B$ : Event A occurring under the condition that event B has occurred

---

## Bayesian Inferene

$$P(\ \text{hypothesis}\ \vert\ \text{data}\ ) = \frac{P(\ \text{data}\ \vert\ \text{hypothesis}\ )\cdot P(\text{hypothesis})}{P(data)}$$

- **Prior**: $P(\text{hypothesis})$ is initial belief in the absence of given data

- **Marginal likelihood**: $P(\text{data})$ is the probability of observing the data averaged over all possible hypotheses.

- **Likelihood**: $P(\ \text{data}\ \vert\ \text{hypothesis}\ )$ describes the probability of observing the given data under the assumption that a particular hypothesis or set of parameters is true.

- **Posterior**: $P(\ \text{hypothesis}\ \vert\ \text{data}\ )$ represents the strength of belief in a hypothesis derived by the given data.

---
## Conclude:
At the heart of Bayes' theorem lies the essential concept that your initial belief, expressed as the prior probability, plays a pivotal role in shaping your current belief, which is updated based on the information provided by new data. This dynamic interplay between prior beliefs and observed data forms the core essence of Bayes' theorem.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url, index_col=0)

In [3]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [35]:
survived_and_male = (df['Survived'] == 0) & (df['Sex'] == 'male')

In [42]:
p_survived_and_male = (survived_and_male.sum() / survived_and_male.shape)[-1]

In [43]:
p_survived_and_male

0.5252525252525253